{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.enabled %}
        {% set icon %}
            {{ include('@Geolocator/Icon/globe.svg') }}
            <span class="sf-toolbar-value">{{ collector.ip|default('N/A') }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>IP</b>
                <span>{{ collector.ip|default('N/A') }}</span>
            </div>
            {% if collector.country %}
                <div class="sf-toolbar-info-piece">
                    <b>Pays</b>
                    <span>{{ collector.country }} ({{ collector.countryName|default('N/A') }})</span>
                </div>
            {% endif %}
            {% if collector.city %}
                <div class="sf-toolbar-info-piece">
                    <b>Ville</b>
                    <span>{{ collector.city }}</span>
                </div>
            {% endif %}
            {% if collector.isVpn is defined %}
                <div class="sf-toolbar-info-piece">
                    <b>VPN</b>
                    <span>{{ collector.isVpn ? 'Oui' : 'Non' }}</span>
                </div>
            {% endif %}
            {% if collector.error %}
                <div class="sf-toolbar-info-piece">
                    <b>Erreur</b>
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.error }}</span>
                </div>
            {% endif %}
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': profiler_url }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {{ not collector.enabled ? 'disabled' }}">
        <span class="icon">{{ include('@Geolocator/Icon/globe.svg') }}</span>
        <strong>Geolocator</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Geolocator</h2>

    {% if not collector.enabled %}
        <div class="empty">
            <p>Le bundle Geolocator n'est pas activé.</p>
        </div>
    {% elseif collector.error %}
        <div class="empty">
            <p>Une erreur s'est produite : {{ collector.error }}</p>
        </div>
    {% else %}
        <div class="metrics">
            <div class="metric">
                <span class="value">{{ collector.ip|default('N/A') }}</span>
                <span class="label">IP</span>
            </div>
            {% if collector.country %}
                <div class="metric">
                    <span class="value">{{ collector.country }}</span>
                    <span class="label">Pays</span>
                </div>
            {% endif %}
            {% if collector.city %}
                <div class="metric">
                    <span class="value">{{ collector.city }}</span>
                    <span class="label">Ville</span>
                </div>
            {% endif %}
        </div>

        <h3>Détails de géolocalisation</h3>
        <table>
            <thead>
            <tr>
                <th scope="col">Propriété</th>
                <th scope="col">Valeur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>IP</th>
                <td>{{ collector.ip|default('N/A') }}</td>
            </tr>
            {% if collector.country %}
                <tr>
                    <th>Code pays</th>
                    <td>{{ collector.country }}</td>
                </tr>
            {% endif %}
            {% if collector.countryName %}
                <tr>
                    <th>Nom du pays</th>
                    <td>{{ collector.countryName }}</td>
                </tr>
            {% endif %}
            {% if collector.city %}
                <tr>
                    <th>Ville</th>
                    <td>{{ collector.city }}</td>
                </tr>
            {% endif %}
            {% if collector.providerUsed %}
                <tr>
                    <th>Fournisseur</th>
                    <td>{{ collector.providerUsed }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>VPN détecté</th>
                <td>
                    {% if collector.isVpn %}
                        <span class="label status-error">Oui</span>
                    {% else %}
                        <span class="label status-success">Non</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Crawler détecté</th>
                <td>
                    {% if collector.isCrawler %}
                        <span class="label status-error">Oui</span>
                    {% else %}
                        <span class="label status-success">Non</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>IP bannie</th>
                <td>
                    {% if collector.isBanned %}
                        <span class="label status-error">Oui</span>
                    {% else %}
                        <span class="label status-success">Non</span>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
